<div class ="container">
  <div class="confinements-image-card">
    <h2 class="confinement-title"><%= @confinement.name %></h2>
      <div class="row d-flex justify-items-center">
        <div class="show-picture">
          <%= cl_image_tag @confinement.photo.key, height: 300, width: 400, crop: :limit, :radius => 5 %>
        </div>
        <div class="stars-container">
          <div class="ratings">
            <p><strong>Interactions sociales</strong></p>
            <p><strong>Pétage de cable</strong></p>
            <p><strong>Uber Eats friendly</strong></p>
          </div>
          <div class="stars">
            <p>
            <% @confinement.first_criteria.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% @confinement.blank_stars_1.times do %>
              <i class="far fa-star"></i>
            <% end %>
            </p>
            <p>
              <% @confinement.second_criteria.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% @confinement.blank_stars_2.times do %>
                <i class="far fa-star"></i>
              <% end %>
            </p>
            <p>
              <% @confinement.third_criteria.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% @confinement.blank_stars_3.times do %>
                <i class="far fa-star"></i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-items-center">
        <div class="description">
          <p><%= @confinement.description %></p>
        </div>
        <div class="buttons show-btn">
          <p><%= link_to "Je choisi ce confinement", new_confinement_booking_path(@confinement), class: 'btn'%></p>
          <p><%= link_to "Retour aux confinements", confinements_path, class: 'btn'%></p>
        </div>
      </div>
  </div>
</div>

