<div class ="container">
  <div class="confinements-image-card">
    <h2 class="confinement-title"><%= @confinement.name %></h2>
      <div class="d-flex justify-content-between">
        <div class="show-picture">
          <%= cl_image_tag @confinement.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="ratings">
          <p>Interactions sociales <%= @confinement.first_criteria %></p>
          <p>Pétage de cable <%= @confinement.second_criteria %></p>
          <p>Uber Eats friendly <%= @confinement.third_criteria %></p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="description">
          <p><%= @confinement.description %></p>
        </div>
        <div class="buttons show-btn">
          <p><%= link_to "Je choisi ce confinement", new_confinement_booking_path(@confinement), class: 'btn'%></p>
          <p><%= link_to "Retour aux confinements", confinements_path, class: 'btn'%></p>
        </div>
      </div>
  </div>
</div>
