<h1 class = "text-center_user"> Bienvenue <%= @user.name %> </h1>
<div class="container">

  <div class="row d-flex">
    <% @confinements.each do |confinement| %>
    <div class="col-12 col-lg-4">
      <div class="card-confi my-3">
        <%= cl_image_tag confinement.photo.key, class: '' %>
        <div class="card-confi-infos">
        <div class="name"> <%= confinement.name %> </div>
        <div id= "link_destroy"><%= link_to 'Supprimer', confinement_path(confinement), method: :delete %> </div>
        <div id= "link_edit"  ><%= link_to "Modifier", edit_confinement_path(confinement) %> </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
