
<h1 class="text-center">Vous etes confinè ...</h1>
<div class="container-hidden-cards">

<div class="container_confinement_photo">
  <%= @confinement.name %>
  <div>
    <%= cl_image_tag @confinement.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <%= @confinement.description%>
</div>

<div class="hidden_card">
    <div class="hidden_card__inner">
      <div class="hidden_card__face hidden_card__face--front">
        <h2>Card Front</h2>
      </div>
    </div>
  </div>

  <div class="hidden_card2">
    <div class="hidden_card__inner2">
      <div class="hidden_card__face hidden_card__face--front">
        <h2>Card Front</h2>
      </div>
    </div>
  </div>

  <div class="hidden_card3">
    <div class="card__inner2">
      <div class="card__face card__face--front">
        <h2>Card Front</h2>
      </div>
    </div>
  </div>

  <%= link_to "Reserve", confinement_bookings_path(@confinement), method: :post, class: "btn btn-primary", id: "btn-reserve" %>
  <%= link_to "Go back", root_path, class: "btn btn-primary", id: "btn-show"%>

</div>



<script>
const card = document.querySelector(".hidden_card__face--front");
const card2 = document.querySelector(".hidden_card__face--front2");
const card3 = document.querySelector(".hidden_card__face--front3");
const reserve = document.querySelector("#btn-reserve")

card.addEventListener("click", function (e) {
  card.classList.toggle('border');
});

card2.addEventListener("click", function (e) {
  card2.classList.toggle('border-2');
});
</script>


