<div class="container">
<h1>Checkout your new booking!</h1>
</div>


  <% bnm = ["toto", "tata", "titi", "tete", "tata"]%>
  <% mnb = ["zozo", "zaza", "zeze", "zyzy"]%>

<div class="container">
 <ul>
    <li> <%= @booking.confinement.name %> </li>
    <li> <%= @booking.confinement.description %> </li>


  <div class ="card">
    <%= bnm.sample%>
  </div>

  <div class ="card">
    <%= mnb.sample%>
  </div>
 </ul>

<%= "Congratulations, #{@booking.user.name}! You have successfully booked your confinement!"%>

</div>
