<% bonus = { "far fa-bread-loaf" => "Vous savez maintenant faire du pain, bravo !",
"fas fa-dumbbell" =>"+3kg de masse musculaire, vos séances portent leurs fruits",
"fas fa-praying-hands" =>"Grace à la pratique du Yoga, vous maitrisez parfaitement la pose du Rajakapotasana",
"fas fa-hands-helping" =>"Vous faites du tri chez vous et donnez à une association",
"fas fa-syringe" =>"Miracle, grâce à vos expérimentations culinaires, vous trouvez par hasard le vaccin anti-covid !",
}%>
<% malus = {"fas fa-wifi-slash" =>"Oups … panne de 4G",
"fas fa-siren-on" =>"Vous oubliez votre attestation et prenez une amende",
"fas fa-toilet-paper-slash" =>"Panne de PQ au supermarché ",
"fas fa-house-return" =>"Ton cousin éloigné te contacte pour se confiner avec toi …",
"far fa-sad-cry" =>"Vous avez joué au coiffeur, vous avez perdu …"}%>


<h1 class="text-center">Vous etes confinè ...</h1>
<div class="container-cards">

<div class="container_confinement_photo">
   <strong> <h4> <%= @booking.confinement.name %></h4></strong>
  <div>
    <%= cl_image_tag @booking.confinement.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="description_show_booking">
   <p><%= @booking.confinement.description%></p>
  </div>
</div>

<div class="bonus_card">
    <div class="card__inner">
      <div class="card__face card__face--front">
        <h1>?</h1>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="card__header">
            <i class="<%= img = bonus.keys.sample%> fa-4x"></i>
            <br>
            <br>
            <p class="text_icon"><%= bonus[img] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bonus_card">
    <div class="card__inner2">
      <div class="card__face card__face--front">
        <h1>?</h1>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="card__header">
            <i  class="<%= img = malus.keys.sample%> fa-4x"></i>
            <br>
            <br>
            <p class="text_icon"><%= malus[img] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Go back", confinements_path(@confinement), class: "btn btn-primary", id: "btn-show"%>
</div>



<script>
const card = document.querySelector(".card__inner");
const card2 = document.querySelector(".card__inner2");

card.addEventListener("click", function (e) {
  card.classList.toggle('is-flipped');
});

card2.addEventListener("click", function (e) {
  card2.classList.toggle('is-flipped-2');
});
</script>


